/*Tema 3 Medidas y colores*/

p {
	color: #0FFC;
}

/*header {
	font-size: 0.7em;
}
article {
	font-size: 0.5rem;
}*/


/*body {
	font-size: 12px;
	text-indent: 3em;
}*/

/*header {
	width: 50%;
	border: 2px solid blue;
}

header article {
	width: 50%;
	border: red 1px dotted;
}*/